<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/mabey.css">
    <link rel="stylesheet" href="/javascripts/jquery.bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="/javascripts/uitotop/css/ui.totop.css">
  </head>
  <body>
    <div class="pure-g-r window">
      <header class="header">
        <div class="wrapper">
          <div class="pure-u-1-3">
            <h1>
              <a href="#"><img src="images/logo.png"></a>
            </h1>
          </div>
          <div class="pure-u-2-3">
            <nav class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-mabey">
              <ul>
                <li class="pure-menu-selected">
                  <a href="#">Inicio</a>
                </li>
                <li>
                  <a href="#">Nosotros</a>
                </li>
                <li>
                  <a href="#">Cusco</a>
                </li>
                <li>
                  <a href="#">Valle Sagrado</a>
                </li>
                <li>
                  <a href="#">Reservas</a>
                </li>
                <li>
                  <a href="#">Contacto</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    </div>
    <div class="pure-g-r window">
      <section class="inner-title">
        <div class="wrapper">
          <div class="pure-u-1">
            <h1>
              Nosotros
            </h1>
          </div>
        </div>
      </section>
    </div>
    <div class="pure-g-r window">
      <img src="http://farm3.staticflickr.com/2812/9252486382_9a8394eae7_h.jpg" width="100%">
    </div>
    <div class="pure-g-r window">
      <section class="content">
        <div class="wrapper">
          <div class="pure-u-1">
            <p>
              <strong>
                MABEY HOTELES Cusco – Perú,
              </strong>
              es una cadena hotelera peruana que ofrece un descanso cálido en los destinos más
              visitados del circuito Sur del Perú, contando con todos los servicios y facilidades
              para ofrecer servicios turísticos de alta calidad. Cusco caracterizado por su arquitectura
              incaica y colonial, siendo sus principales atractivos el Valle sagrado y Mahupicchu.
            </p>
            <p>
              Estamos localizados en Cusco ciudad y en el Valle Sagrado:
            </p>
            <ul>
              <li>
                <a href="#">Hotel Mabey Cusco***</a>
                , localizado en la Av. Tacna, ofrece una infraestructura moderna combinada con decoración
                andina, y al estar diseñada con la madera más fina ofrece un ambiente cálido y acogedor.
              </li>
              <li>
                <a href="#">Hotel Mabey Urubamba***</a>
                , localizado dentro del circuito Valle Sagrado de los incas, en medio de bosques,
                montañas y población representativa del Valle, en un ambiente perfecto para relajarse
                y sentir la magia de los andes.
              </li>
            </ul>
            <h2>
              Misión
            </h2>
            <p>
              Nuestra misión es satisfacer las necesidades de nuestros clientes mediante la mejora
              continúa a través de colaboradores comprometidos, que aseguren un ambiente de tranquilidad,
              comodidad y confort para nuestros huéspedes.
            </p>
            <h2>
              Visión
            </h2>
            <p>
              Nuestra intención es consolidarnos y expandirnos en el sur del Perú como un competidor
              innovador y exitoso; además de ser reconocidos por brindar altos niveles de calidad
              para nuestros clientes.
            </p>
            <h2>
              Valores
            </h2>
            <ul>
              <li>
                Revalorización de la cultura andina
              </li>
              <li>
                Vocación de servicio
              </li>
              <li>
                Compromiso Social
              </li>
              <li>
                Trabajo en equipo
              </li>
              <li>
                Respeto del medio ambiente
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div class="pure-g-r window">
      <footer class="footer">
        <div class="wrapper">
          <div class="pure-u-1-4">
            <h3>
              Hotel Mabey Cusco
            </h3>
            <address>
              <p>
                Av. Tacna 316 Wanchaq Cusco
                <br>
                Teléfono/Phone: 5184-221021 - 5184-221017
                <br>
                Fax: 5184-260031
              </p>
            </address>
          </div>
          <div class="pure-u-1-4">
            <h3>
              Hotel Mabey Urubamba
            </h3>
            <address>
              <p>
                Av. Tacna 316 Wanchaq Cusco
                <br>
                Teléfono/Phone: 5184-221021 - 5184-221017
                <br>
                Fax: 5184-260031
              </p>
            </address>
          </div>
          <div class="pure-u-1-4">
            <h3>
              Central de Reservas
            </h3>
            <address>
              <p>
                reservas@hotelesmabey.com
                <br>
                Teléfono/Phone: 5184-221021
                <br>
                Directo: 5184-255757
              </p>
            </address>
          </div>
          <div class="pure-u-1-4">
            <div class="quick-contact">
              <h3>
                Contacto rápido
              </h3>
              <form class="pure-form">
                <fieldset class="pure-group">
                  <input type="text" placeholder="Nombres y apellidos" class="pure-input-1">
                  <input type="email" placeholder="Email" class="pure-input-1">
                  <textarea placeholder="Mensaje" class="pure-input-1">
                  </textarea>
                  <button type="submit" class="pure-button pure-input-1 primary">
                    Enviar
                  </button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-last text-center">
          <div class="wrapper">
            <div class="pure-u-1">
              <nav>
                <a href="#">Inicio</a>
                &nbsp;|&nbsp;
                <a href="#">Nosotros</a>
                &nbsp;|&nbsp;
                <a href="#">Mapas y Direcciones</a>
                &nbsp;|&nbsp;
                <a href="#">Cusco</a>
                &nbsp;|&nbsp;
                <a href="#">Valle Sagrado</a>
                &nbsp;|&nbsp;
                <a href="#">Reservas</a>
                &nbsp;|&nbsp;
                <a href="#">Contacto</a>
              </nav>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="/javascripts/jquery.bxslider/jquery.bxslider.min.js">
    </script>
    <script src="/javascripts/uitotop/js/easing.js">
    </script>
    <script src="/javascripts/uitotop/js/jquery.ui.totop.min.js">
    </script>
    <script src="/javascripts/mabey.js">
    </script>
  </body>

</html>